In [1]:
import pandas as pd
import numpy as np

In [2]:
dct = {'col1':[1,1,1,1],'col2':[1,2,3,4],'col3':[0,0,0,0]}

In [3]:
dct

{'col1': [1, 1, 1, 1], 'col2': [1, 2, 3, 4], 'col3': [0, 0, 0, 0]}

In [4]:
df = pd.DataFrame(dct)

In [5]:
df

   col1  col2  col3
0     1     1     0
1     1     2     0
2     1     3     0
3     1     4     0

In [6]:
df.std()

col1    0.000000
col2    1.290994
col3    0.000000
dtype: float64

In [22]:
from sklearn.feature_selection import VarianceThreshold

In [23]:
selector = VarianceThreshold()

In [24]:
info = selector.fit_transform(df)

In [25]:
info

array([[1],
       [2],
       [3],
       [4]], dtype=int64)

In [15]:
new_df = pd.DataFrame(info,columns=['info1'])

In [16]:
new_df

   info1
0      1
1      2
2      3
3      4

In [27]:
info = selector.fit(df)

In [29]:
info

VarianceThreshold()

In [35]:
info.get_support()

array([False,  True, False])

In [31]:
df

   col1  col2  col3
0     1     1     0
1     1     2     0
2     1     3     0
3     1     4     0

In [37]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [42]:
useful_columnNames = df.columns[info.get_support() == True]

In [40]:
Notuseful_columnNames = df.columns[info.get_support() == False]

In [41]:
Notuseful_columnNames

Index(['col1', 'col3'], dtype='object')

In [43]:
useful_columnNames

Index(['col2'], dtype='object')

In [44]:
df

   col1  col2  col3
0     1     1     0
1     1     2     0
2     1     3     0
3     1     4     0

In [45]:
df.drop(Notuseful_columnNames,axis =1, inplace =True)

In [46]:
df

   col2
0     1
1     2
2     3
3     4